export DOCKER_PRE=scale-mamba
export VOL_PROGS=${DOCKER_PRE}-programs
export VOL_CERT=${DOCKER_PRE}-certs
export VOL_DATA=${DOCKER_PRE}-data
# export VOL_TESTDATA=${DOCKER_PRE}-testdata
DOCKER_VOLS="-v ${VOL_PROGS}:/scale-mamba/Programs"
DOCKER_VOLS="${DOCKER_VOLS} -v ${VOL_CERT}:/scale-mamba/Cert-Store"
DOCKER_VOLS="${DOCKER_VOLS} -v ${VOL_DATA}:/scale-mamba/Data"
# DOCKER_VOLS="${DOCKER_VOLS} -v ${VOL_TESTDATA}:/scale-mamba/Auto-Test-Data"
export DOCKER_VOLS=${DOCKER_VOLS}
export DOCKER_DUMMY=${DOCKER_PRE}-dummy
export DOCKER_NET=${DOCKER_PRE}-network
export CONTAINER=jwata/scale-mamba

 # choose which setting you want to use
# https://github.com/KULeuven-COSIC/SCALE-MAMBA/blob/master/Auto-Test-Data/README.txt
export MPC_SETTING=19
